@import '../../assets/css/variables.css';

.light {
  border-color: var(--colorBlack);
  color: var(--colorBlack);
}

.dark {
  border-color: var(--colorWhite);
  color: var(--colorWhite);
}


.Swiperie {
  composes: dark;
  background-color:  var(--colorSwiperie);
}

.SociallyFox {
  composes: dark;
  background-color:  var(--colorSociallyFox);
}
